.carrito-conteiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    margin-top: 10px;
}

.carrito-titulos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    width: 100%;
}

.carrito-titulos h2 {
    color: var(--text-on-accent-color);
}

.carrito-titulo-producto {
    width: 20%;
}

.carrito-titulo-descripcion {
    width: 30%;
}

.carrito-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--card-light-bg-color);
    border: 1px solid var(--card-light-border-color);
    border-radius: 8px;
    width: 100%;
    text-align: center;
    height: 150px;
}

.carrito-producto {
    width: 20%;
}

.descripcion-carrito {
    width: 30%;
}

.boton-carrito {
    width: 3%;
    height: 30%;
}

.carrito-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.carrito-total-pagar {
    color: var(--text-on-accent-color);
    font-weight: bold;
    display: block;
    text-align: right;
    margin-top: 20px;
    font-size: 1.2em;
}

.carrito-vacio-mensaje {
    color: var(--text-secondary-color);
    font-style: italic;
    text-align: center;
    padding: 20px;
    font-size: 1.1em;
    margin-top: 20px;
}
