.productos-conteiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    width: 100%;
}

.producto-card {
    background-color: var(--card-light-bg-color);
    border: 1px solid var(--card-light-border-color);
    border-radius: 8px;
    text-align: center;
    margin-top: 5px;
    /* Animación*/
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.producto-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.producto-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}
.producto-card .card-img-top {
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.btn-agregar {
    background-color: var(--accent-primary-color);
    color: var(--text-on-accent-color);
    border-color: var(--text-on-accent-color);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.btn-agregar:hover {
    background-color: var(--accent-secondary-color);
    border-color: var(--accent-secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-agregar:focus {
    outline: none;
    border-color: var(--accent-secondary-color);
    box-shadow: 0 0 0 0.2rem rgba(217, 87, 87, 0.5), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-agregar:active {
    background-color: var(--accent-secondary-color) !important;
    border-color: var(--accent-secondary-color) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-image: none !important;
}
